.Modal-container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
}

.Modal-body {
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal-header {
  font-size: 22px;
  padding-bottom: 10px;
}

.Modal-content {
  padding: 10px 0;
  line-height: 1.5;
}

.Modal-actions {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.Modal-actions button {
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #65c5f2;
}

.Modal-actions button:hover {
  cursor: pointer;
}

.Modal-actions button:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 15px -2px rgba(0,0,0,0.2);
}

.Modal-actions button:active {
  background-color: #4892b4;
}